*{
margin: 0%;
padding: 0%;
cursor: pointer;
}
.navbar {
display: flex;
position: fixed;
width: 100%;
height: 100px;
background-color: white;
} 
.nav-logo {
height: 100vh;
flex-direction: column;
}
.nav-bar {
padding-top: 15px;
text-align: center;
font-size: 25px;
border-top: 7px;
}
.nav-bar:hover {
background-color: #c0ccd8;
border-top-left-radius: 100px;
border-bottom-right-radius: 100px;  
} 
.nav-link {
padding: 15px;
margin-top: 12px;
text-align: center;
font-size: 20px; 
}
.nav-link p {
border-bottom-left-radius: 100px;
border-top-right-radius: 100px;
font-size: 12px;
padding-top: 5px;
font-family: sans-serif;
}
.nav-link:hover{
background-color: #c0ccd8;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}

/** img **/
.nav-img {
position: relative;
height: 80px;
width: 60px;
}
.img {
height: 105%;
display: flex;
}

/** search-box **/
.search {
position: relative;
display: flex;
margin-top: 15px;
margin-left: 15%; 
width: 37%;
height: 40px;
text-align: center;
border-color: #d3d3d3;
}
.search-input {
width: 104%;
font-size: 1rem;
padding-left: 2%;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border: none;
border-color: #d3d3d3;
cursor: auto;
border: 1px solid #4885ba;
}
.search-icon {
width: 10%;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1rem;
background-color: white;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
color: black;
background-color: #d3d3d3;
border: 1px solid #4885ba;
border-left: none;
}
.search-input:hover {
 border: 1.8px solid rgb(73, 146, 146);
}
.mic {
margin-top: 15px;
margin-left: 10px;
border: 2px solid #dadef8;
padding-left: 18px;
padding-top: 9px;
height: 29px;
width: 27px;
border-radius: 100px 100px 100px 100px;
} 
.mic:hover {
border: 0px solid;
background-color: #dadef8;
border-radius: 100px 100px 100px 100px;
}
.nav-user {
display: flex;
margin-top: 10px;
width: 90px;
height: 40px;
margin-left: 20rem;
border: 2px solid #b8b8b8;
border-radius: 20px 20px 20px 20px;
}
.logo {
justify-content: space-between;
width: 100px;
align-items:end;
font-size: 1.3rem;
margin-top: 10px;
text-align: center;
}
.nav-user:hover {
border: 0px solid #9b9b9b;
background-color: rgb(179, 223, 241);
border-radius: 20px 20px 20px 20px;
} 
.nav-user p {
color: rgb(52, 52, 249);
font-weight: bold;
padding-top: 9px;
padding-left: 2px;
}
.panel {
display: flex;
padding-top: 8%;
margin-left: 10%;
width: 80%;
height: 40px;
color: white;
align-items: center;
justify-content: space-evenly;
margin-top: 20px;
}
.panel p {
background-color: #cedcea;
color: black;
font-weight: bold;
border-radius: 10px 10px 10px 10px;
height: 40px;
width: 90px;
text-align: center;
padding-top: 10px;
}
.panel p:hover{
background-color: black;
border: 0px solid black ;
color: white;
}

/** video **/

.video-grid {
margin-top: 1%;
display: grid;
flex-wrap: wrap;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 20px;
padding: 20px;
justify-content: space-between;
margin-left: 10%;
}
.video-card {
background-color: rgb(194, 190, 190);
border-radius: 8px;
overflow: hidden;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.video-card img {
width: 100%;
height: 200px;
object-fit: cover;
}
.video-card .video-info {
padding: 10px;
}
.video-card .video-title {
font-size: 16px;
font-weight: bold;
margin-bottom: 20px;
color: #333;
}
.video-card .video-channel {
font-size: 14px;
color: #555;
}
.video-card img:hover {
border: 1px solid;
}
.video-card .video-info:hover {
border: 1px solid;
background-color: gray;
color: white;
}

